* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F5F7;
}

#wrap {
    width: 100%;
    min-height: 100vh;
    font-family: "Noto Sans KR";
    padding: 60px 0;
}